<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <featureManager>
        <feature>microProfile-2.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>
    <applicationManager autoExpand="true" />
    <logging traceSpecification="com.ibm.ws.microprofile.health.*=all" />
    <webApplication location="getting-started.war" contextRoot="/" />
    <applicationMonitor updateTrigger="mbean" />
    <application id="getting_started_war_exploded" location="/home/donato/git/guide-getting-started/finish/target/getting-started" name="getting_started_war_exploded" type="war" />
</server>

